# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH
export PATH=$HOME/.local/bin/:$PATH

zstyle :omz:plugins:ssh-agent quiet yes

{{ if eq .chezmoi.os "darwin" -}}

# Brew Paths
export PATH="/opt/homebrew/opt/curl/bin:$PATH"
export PATH="/opt/homebrew/opt/openjdk/bin:$PATH"

export HOMEBREW_NO_ENV_HINTS=1
export HOMEBREW_CASK_OPTS="--no-quarantine"

# MacOS ssh stuff
zstyle :omz:plugins:ssh-agent ssh-add-args --apple-use-keychain

{{ end -}}

# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"

# ZSH Theme
ZSH_THEME=powerlevel10k/powerlevel10k
#POWERLEVEL9K_MODE="nerdfont-complete"
POWERLEVEL9K_VCS_GIT_GITHUB_ICON='\uF408'

HIST_STAMPS="yyyy-mm-dd"

## OMZ Stuff
zstyle ':omz:update' mode reminder # just notify to update it via chezmoi
plugins=(
  ansible 
  argocd
  colorize
  command-not-found
  docker
  docker-compose
  git
  git-auto-fetch
  git-flow-avh
  gitignore
  history-substring-search
  pip
  pipenv
  ssh-agent
  vscode
)

source $ZSH/oh-my-zsh.sh

# compile Flags
export ARCHFLAGS="-arch {{ .chezmoi.arch }}"

alias ls="lsd"
alias l="ls -l"
alias la="ls -a"
alias lla="ls -la"
alias lt="ls --tree"

alias vi="vim"
alias vim="vim"
export EDITOR="vim -f"
export VISUAL="code --wait"

alias k="kubectl"

autoload bashcompinit && bashcompinit
autoload -U compinit && compinit

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"
